@font-face {
  font-family: "Monteserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #101010;
  color: #fff;
  font-family: "Monteserrat", sans-serif;
}
.align_center {
  display: flex;
  align-items: center;
}
