.navbar {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: var(--body_background);
  border-bottom: 1px solid #e6e6e6;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar > h1 {
  font-size: 30px;
  color: var(--heading_color);
}

.navbar-links > a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--body_color);
  text-decoration: none;
}

.icon {
  width: 25px;
  height: 25px;
  margin-left: 7px;
}
