.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background-color: var(--body_background);
  border-bottom: 1px solid #e6e6e6;
}

.navbar > h1 {
  font-size: 30px;
  color: var(--heading_color);
}

.navbar-Navs {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Stilovi za NavLink komponente */
.navbar-Navs > a {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  color: var(--body_color);
  text-decoration: none;
  padding: 0 15px;
  transition: all 0.3s ease;
}

/* Hover efekt */
.navbar-Navs > a:hover {
  color: var(--heading_color);
}

/* Active stanje - NavLink automatski dodaje 'active' klasu */
.navbar-Navs > a.active {
  font-weight: 800;
}

.icon {
  width: 25px;
  height: 25px;
  margin-left: 7px;
}
